/* h1 {
  color: #007bff;
  text-align: center;
  margin-bottom: 50px;
}
table{
  width: auto
}
tr{
border: 1px solid #ddd;


} */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}
.dropdown-menu .form-check {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
}

.form-check-input {
  margin-right: 10px; /* Khoảng cách giữa checkbox và label */
}
h2 {
  text-align: center;
}

.form-inline {
  display: flex;
  align-items: center;
}

.form-inline label {
  margin-right: 10px;
}

.table {
  width: 100%;
}

.table th, .table td {
  text-align: center;
}


.modal-header {
  background-color: #007bff;
  color: white;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-body {
  padding: 20px;
}

.error {
  color: red;
  margin-top: 10px;
}
