
{% extends 'base.html' %}
{% block content %}
        <h2>User Information</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Name: {{ user.username }}</h5>
                <p class="card-text">Email: {{ user.email }}</p>
                <a href="{% url 'logout' %}" class="btn btn-primary">Đăng xuất</a>
            </div>
        </div>
        <h3>Multilogin Accounts</h3>
        {%if not multilogin_accounts%}
            <p>Không có tài khoản nào</p>
            <a href="{% url 'multilogin' %}" class="btn btn-primary">Đăng nhập ngay</a>
        {%else%}
        <h3>Email: {{email}}</h3>
    <h4>Profile List</h4>
    <ul>
        {% for account in multilogin_accounts %}
        <li>
            <p>{{ account.multilogin_profile_name }}</p>
            <p>{{ account.multilogin_profile_id }}</p>
        </li>
            
        {% endfor %}
    </ul>
        {%endif%}
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}